.sessao-inicial{
    margin-top: 117.2px;
}
.carousel-caption{
    top: 0;
}
.carousel-caption h2{
    font-family: var(--fonte-Poppins);
    font-weight: 800;
    font-size: 4rem;
}
.carousel-caption p{
    font-size: 1.3rem;
    width: 75%;
}

.btns-banner-inicial a{
    text-decoration: none;
}

.btn-saiba-mais-banner-inicial{
    font-family: var(--fonte-SegoeUi);
    background: linear-gradient(to right, #59A200, #3377FF);
    border: 1px solid transparent;
    color: white;
    font-weight: 600;
}
.btn-saiba-mais-banner-inicial:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
}

.btn-fazer-contato-banner-inicial{
    font-family: var(--fonte-SegoeUi);
    color: white;
    font-weight: 600;
    border: 1px solid white;
    transition: 0.5s;
}
.btn-fazer-contato-banner-inicial:hover{
    background: linear-gradient(to right, #59A200, #3377FF);
    border: 1px solid transparent;
}



@media (max-width: 992px) {
    .sessao-inicial{
        margin-top: 85px;
    }
    .carousel-caption h2{
        font-size: 2rem;
    }
    .carousel-caption p{
        font-size: 1rem;
        width: 100%;
    }
    .btn-saiba-mais-banner-inicial{
        font-size: 1rem;
    }
    .btn-fazer-contato-banner-inicial{
        font-size: 1rem;
    }
}