.navbar {
    background-color: white; /* Altere para a cor desejada */
    color: #0044CC;
}

.nav-link{
    color: #0044CC;
    font-size: 1.2rem;
    font-family: var(--fonte-Poppins);
    font-weight: 600;
    border-bottom: 2px solid transparent;
}
.nav-link:hover{
    color: #59A200;
    border-bottom: 2px solid #59A200;
}

.btn-fazer-contato{
    text-decoration: none;
    font-family: var(--fonte-SegoeUi);
    color: #0044CC;
    border: 2px solid #0044CC;
    font-weight: 600;
    animation: pulse 1.5s infinite;
}

.btn-fazer-contato:hover{
    background: #59A200;
    color: white;
    border: 2px solid transparent;
}

.navbar-toggler{
    color: #0044CC;
}
.navbar-toggler-icon{
    color: #0044CC;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 #0044CC;
    }
    70%{
        box-shadow: 0 0 0 25px rgba(92, 168, 44, 0);
    }
    100%{
        box-shadow: rgba(92, 168, 44, 0);
    }
    
}